<div id="mainphoto">
  <%= image_tag('histoty.jpg') %>
</div>
<div class="announce_name">
  АНДЕГРАУНД НОРМАЛЬНЫХ ЛЮДЕЙ
</div>
<div id="announce_desc_acc">
<% for history in @histories %>
  <%= history.description %><br />
<% end %>
</div>
<% if logged_in? %>
<div class='admtext'>
	<% if History.count.zero? %>
		<%= link_to 'Добавить текст на страницу История', new_history_path %>
	<% else %>
		<%= link_to 'Изменить текст на странице История', edit_history_path(history) %> |
		<%= link_to 'Удалить текст со страницы История', history, :confirm => 'Вы уверены?', :method => :delete %>
	<% end %>
</div>
<%end%>