<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Культурный центр - Живой Уголок</title>
	<%= stylesheet_link_tag 'ju' %>
</head>
<body>
<div id="root">
  <table align="center">
    <tr>
      <td>

      </td>
      <td>
      	<div  id="menu">
      	  <br/><br/>
          <%= link_to "клуб", ('/') %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "история", histories_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "кто" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "музыка" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "заявка на участие" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "как нас найти", contacts_path %>
        </div>
      </td>
    </tr>
  <tr id="center">
    <td id="announce_time">
      <div id="announce_time_act">
      <span class="actual_date_d"><%= l @event.actual_time, :format=>:actual_date_d %></span>
      <span class="actual_date_B"><%= l @event.actual_time, :format=>:actual_date_B %></span><br /><br />
      <span class="actual_date_H"><%= l @event.actual_time, :format=>:actual_date_H %></span>
      </div>
    </td>
    <td id="content" rowspan='2'>
      <%= yield %>
    </td>
    <td id="right_archive">
      <%= link_to 'Архив', :controller=>:events, :action => :archive %>
    </td>
  </tr>
    <tr id="niz">
      <td id="left_menu">
        <div><%= link_to "Фотографии" %><br/></div>
        <div><%= link_to "Кинофильмы" %><br/></div>
        <div><%= link_to "Архив" %><br/></div>
        <div><%= link_to "Птиц" %></div>
      </td>
      <td id='announce_future'>


        </td>
    </tr>
  </table>
</div>
</body>
</html>